site_name: My ImageJ Tools
theme:
  name: material
  palette:
    primary: indigo
    accent: cyan
  features:
    - navigation.tabs
    - navigation.expand
    - search.suggest

nav:
  - Home: index.md
  - Macros:
    - Multi-Color Plot: macros/plot.md
