site_name: ImageJ Macros Collection
site_url: https://minleekr.github.io/ImageJ-Macros/
repo_url: https://github.com/MinLeeKR/ImageJ-Macros
repo_name: GitHub

theme:
  name: material
  palette:
    primary: indigo
    accent: cyan
  features:
    - navigation.tabs
    - navigation.expand
    - search.suggest
    - search.highlight

nav:
  - Home: index.md
  - Installation: installation.md
  - Macros:
      - Non-scaled multi-channel profile: non_scaled_multichannel_plot.md
      - Scaled multi-channel profile: scaled_multichannel_plot.md
      - Copy channel colors/LUT: copy_channel_colors_lut.md
  - Deployment (GitHub Pages): deployment.md
